<h1>Cart Details</h1>

{{#if cart}}
    <h2>Cart ID: {{cart._id}}</h2>
    <h3>Products:</h3>
    <ul>
        {{#each cart.products}}
            <li>
                {{this.title}} - Price: {{this.price}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Cart not found.</p>
{{/if}}